.css-dev-only-do-not-override-1rqnfsa.ant-select-single {
    font-size: 14px;
    height: 32px;
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
}

.css-dev-only-do-not-override-13l5ai0.ant-select-single .ant-select-selector .ant-select-selection-search-input {
  width: 300px;
  font-size: 16px;
  color: #3e3e3e;
  box-shadow: 2px 2px 9px 0px rgb(192 190 190);
}

.searchIcon {
  font-size: 20px;
  padding: 5px;
  color: gray;
}

.closeIcon {
  color: gray;
  font-size: 14px;
  padding: 8px;
  margin-right: -6px;
  z-index: 9999;
}

.loadingIcon {
  color: gray;
}

.infoIcon {
  width: 14px;
  height: 14px;
  color: rgb(170, 170, 170);
}